# created by virtualenv automatically
/venv
/Lesson_3/middle_fmr/
/Lesson_3/weights_georg.hdf5
/Lesson_3/georges/
/Lesson_6/basketball.csv
/Lesson_6/hh_fixed.csv
/Lesson_6/moscow.csv
/Lesson_6/xTrain01.npy
/Lesson_6/xTrainProf01.npy
/Lesson_6/xTrainRez01.npy
/Lesson_6/yTrain.npy
